html, body {
  margin: 0;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1207px;
  display: flex;
  margin: 0 auto;
  background-color: rgb(14, 143, 152);
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  /* width: 15%; */
  background-color: rgb(14, 143, 152);
  padding: 10px 20px 0px;
  line-height: 50px;
  font-weight: 300;
  
}
.menu01 {
  list-style: none;
  gap: 16px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.menu01 a {
  text-decoration: none;
  letter-spacing: 2px;
}

/* ADICIONANDO TAG P EM MENU */
.pet {
 text-align: right;
 font-size: 60px;
 padding: 10px;
}
.header img {
  background-repeat: no-repeat;
  padding-top: 8px;
  min-height: 150px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.content {
  background-color: rgb(29, 148, 156);
  min-height: 300px;
  padding: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  
}
.set {
  width: 500px;
  height: 300px;
  border: 2px rgba(161, 72, 229, 0.711) solid;
  border-radius: 20px;
  
}
input {
  background-color: rgba(161, 72, 229, 0.711);
  color: #f1f1f1;
  padding: 2px;
  margin: 4px;
  border-radius: 10px;
}
textarea {
  border-radius: 10px;
  background-color: rgba(161, 72, 229, 0.711);
  color: #f1f1f1;
  padding: 3px ;
}

button {
  background-color: rgba(161, 72, 229, 0.711);
  color: #f1f1f1;
  border-radius: 10px;
  margin-top: 5px;
  padding: 2px;
  

}


.cuidar {
  color: #f1f1f1;
  text-align: center;
}
.assunto {
  color: rgba(161, 72, 229, 0.711);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

thead, tbody, th, td {
  border: 1px white solid;
}

th {
  background-color: black;
  color: #f1f1f1;
}

.footer {
  background-color: rgb(14, 143, 152);
  min-height: 150px;
  line-height: 2px
  
  
}
footer {
  font-size: 14px;
  text-align: center;
  padding: 5px;
}
